= link_to 'Users', departments_path, class: "navbar-item #{'is-active' if controller_name == 'users'}"
= link_to 'Departments', departments_path, class: "navbar-item #{'is-active' if controller_name == 'departments'}"
